############################
# STM32CubeIDE / Eclipse Workspace
############################
.metadata/
RemoteSystemsTempFiles/
.settings/

############################
# Launch & help files
############################
*.launch
*.chm

############################
# OS / editor junk
############################
# Linux
*~
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

############################
# IDEs
############################
.idea/
.vscode/
